@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-stat {
	box-shadow: 0px 4px 24px 0px rgba(163, 171, 185, 0.16);
}

.hide-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
